@charset "UTF-8";
.lista {
  display: flex; }
  .lista .icono__marca {
    display: flex;
    width: 100px;
    height: 100px;
    border-style: double;
    justify-content: center;
    align-items: center; }
  .lista .lista__menu {
    display: flex;
    width: 0px;
    height: 0px;
    padding: 6px;
    margin: 5px;
    font-family: 'Lobster', cursive;
    list-style: none;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1; }
    .lista .lista__menu a {
      color: #da2f8a;
      text-decoration: none; }
    .lista .lista__menu :hover {
      transform: scale(1.5, 1.5);
      transition: all 1s; }

/* media query de TABLET */
@media (min-width: 576px) and (max-width: 992px) {
  .lista {
    flex-direction: column;
    flex-basis: 100%; }
  .icono__marca {
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center; }
  .lista__menu {
    flex-direction: column;
    flex-basis: 100%;
    width: 100%; }
  /* responsive jugueteria html */
  .productos__grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    flex-basis: 100%;
    flex-direction: column; }
  /* responsive productos zf y comida rapida html */
  .cont__container {
    margin: 10px;
    padding: 80px;
    width: 95vw;
    height: 95vh;
    flex-basis: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr; }
  .pictures {
    margin: 10px;
    padding: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center; } }

/* media query cel */
/*  @media screen min-width: 320 px and max-width: 575 px; */
@media (min-width: 320px) and (max-width: 575px) {
  .lista {
    flex-direction: column;
    flex-basis: 100%; }
  .icono__marca {
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center; }
  .lista__menu {
    flex-direction: column;
    flex-basis: 100%;
    width: 100%; }
  /* responsive jugueteria html */
  .productos__grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    flex-basis: 100%;
    flex-direction: column; } }

/* responsive productos zf y comida rapida html */
.zf__container {
  margin: 10px;
  padding: 80px;
  width: 95vw;
  height: 95vh;
  flex-basis: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr; }

.pictures {
  margin: 10px;
  padding: 10px;
  justify-content: center;
  justify-items: center;
  align-items: center; }

/* extend */
.background-centrado, .un, .do, .tre, .cuatr, .cinc, .sei, .siet, .och, .nuev, .die, .onc, .doc, .uno, .dos, .tres, .cuatro, .cinco, .seis, .siete, .ocho, .nueve, .diez, .once, .doce, .one, .two, .three, .four, .five, .six, .seven, .eigth, .nine, .ten, .eleven, .twelve {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

footer {
  padding: 1em 0;
  margin-top: auto; }

.fut {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  color: #da2f8a; }

.redes {
  width: 25px; }

/* color de letras */
/* Estilo de fuentes */
* {
  margin: 0px;
  /*margen ext*/
  padding: 0px;
  /*margen interno*/ }

body {
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(black, blue);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.9;
  padding-bottom: 3em; }

.cont__container {
  display: grid;
  width: 80vw;
  height: 80vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; }

.pictures {
  width: 200px;
  height: 200px; }

.picture {
  padding: 15px;
  width: 100%;
  height: 100%; }

h1 {
  color: #e044e3;
  padding: 40px;
  font-family: "Audiowide", cursive;
  text-align: center; }

h2 {
  color: #0feaee;
  font-family: "Audiowide", cursive; }

h3 {
  color: #6464e2; }

.i {
  margin: 20px;
  list-style: circle;
  font-family: 'Audiowide', cursive; }

.cont__container {
  display: flex;
  justify-items: center;
  justify-content: space-evenly; }

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

/* aplicando anidacion a tarjeta descriptivas */
.card {
  display: flex;
  width: 250px;
  height: 80%;
  border: 1px solid darkgrey;
  flex-direction: column;
  align-items: center;
  margin: 20px; }
  .card__img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px; }
  .card__info {
    width: 90%;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 0; }

p {
  color: #e044e3;
  margin: 0px;
  font-family: 'Audiowide', cursive;
  text-align: justify;
  padding: 30px; }

.parrafo__historia {
  font-family: 'Audiowide', cursive;
  text-decoration-style: dashed; }

iframe {
  display: flex;
  width: 300px;
  height: 300px;
  border-color: #3093df;
  justify-content: space-between; }

.pagprin {
  color: #0feaee;
  text-decoration: none; }

.productos__grid {
  display: grid;
  width: 95vw;
  height: 95vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "uno     dos    tres" "cuatro  cinco  seis" "siete   ocho  nueve" "diez  once  doce";
  column-gap: 20px;
  row-gap: 10px; }

.productos__grid :hover {
  transform: scale(1.5, 1.5);
  transition: all 1s; }

/* utilizamos @extends para mbackgrounds repetitivos */
.un {
  grid-area: uno;
  background-image: url("../resourses/jug armas.jpg");
  width: auto;
  height: auto; }

.do {
  grid-area: dos;
  background-image: url("../resourses/jug autos.jpg"); }

.tre {
  grid-area: tres;
  background-image: url("../resourses/jug cocinagde.jpg"); }

.cuatr {
  grid-area: cuatro;
  background-image: url("../resourses/jug colorear.jpg"); }

.cinc {
  grid-area: cinco;
  background-image: url("../resourses/jug de mesa.jpg"); }

.sei {
  grid-area: seis;
  background-image: url("../resourses/jug dino.jpg"); }

.siet {
  grid-area: siete;
  background-image: url("../resourses/jug doctora.jpg"); }

.och {
  grid-area: ocho;
  background-image: url("../resourses/jug pop it.jpg"); }

.nuev {
  grid-area: nueve;
  background-image: url("../resourses/jug maletin juliana.jpg"); }

.die {
  grid-area: diez;
  background-image: url("../resourses/jug militar.jpg"); }

.onc {
  grid-area: once;
  background-image: url("../resourses/jug muñecas.jpg"); }

.doc {
  grid-area: doce;
  background-image: url("../resourses/jug naipes.jpg"); }

/* galeria productos z-f */
.productos__zeta {
  display: grid;
  width: 95vw;
  height: 95vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "uno    dos   tres" "cuatro  cinco  seis" "siete   ocho  nueve" "diez  once  doce";
  column-gap: 20px;
  row-gap: 10px; }

.productos__zeta :hover {
  transform: scale(1.5, 1.5);
  transition: all 1s; }

.uno {
  grid-area: uno;
  background-image: url("../resourses/almohada negra y celeste.jpg");
  width: auto;
  height: auto; }

.dos {
  grid-area: dos;
  background-image: url("../resourses/cambiador moño azulbco.jpg"); }

.tres {
  grid-area: tres;
  background-image: url("../resourses/ajuar verde forro bco.jpg"); }

.cuatro {
  grid-area: cuatro;
  background-image: url("../resourses/almohada mateo.jpg"); }

.cinco {
  grid-area: cinco;
  background-image: url("../resourses/borde cambiador carrusel.jpg"); }

.seis {
  grid-area: seis;
  background-image: url("../resourses/zfunicorniopeluche.jpg"); }

.siete {
  grid-area: siete;
  background-image: url("../resourses/peluches gatitos.jpg"); }

.ocho {
  grid-area: ocho;
  background-image: url("../resourses/peluche mia luna nube.jpg"); }

.nueve {
  grid-area: nueve;
  background-image: url("../resourses/peluche corazon.jpg"); }

.diez {
  grid-area: diez;
  background-image: url("../resourses/zf3.jpg"); }

.once {
  grid-area: once;
  background-image: url("../resourses/almohada roja milena.jpg"); }

.doce {
  grid-area: doce;
  background-image: url("../resourses/peluche caballito.jpg"); }

/* grid comida rapida  */
.img__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(200px, auto); }

.imagen__1 {
  width: 400px;
  height: 300px;
  grid-area: 1/1; }

.imagen__2 {
  width: 400px;
  height: 300px;
  grid-area: 1/2; }

.imagen__3 {
  width: 400px;
  height: 300px;
  grid-area: 2/1; }

.imagen__4 {
  width: 400px;
  height: 300px;
  grid-area: 2/2; }

/* main galeria grid zf */
.galeria_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(200px, auto); }

.one {
  grid-column: 1 / 2;
  grid-row: 1;
  background-image: url("../resourses/forro standartes.jpg");
  margin: 1rem;
  padding: 1rem; }

.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-image: url("../resourses/almoha rosa cnombre.jpg");
  margin: 1rem;
  padding: 1rem; }

.three {
  grid-column: 1;
  grid-row: 2 / 5;
  background-image: url("../resourses/ajuar full verde.jpg");
  margin: 1rem;
  padding: 1rem; }

.four {
  grid-column: 3;
  grid-row: 3;
  background-image: url("../resourses/forro animal.jpg");
  margin: 1rem;
  padding: 1rem; }

.five {
  grid-column: 2;
  grid-row: 4;
  background-image: url("../resourses/ajuar cambiador verde peluchito.jpg");
  margin: 1rem;
  padding: 1rem; }

.six {
  grid-column: 3;
  grid-row: 4;
  background-image: url("../resourses/almoh magali.jpg");
  margin: 1rem;
  padding: 1rem; }

.seven {
  grid-column: 1 / 2;
  grid-row: 1;
  background-image: url("../resourses/cambiador accesorios.jpg");
  margin: 1rem;
  padding: 1rem; }

.eigth {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-image: url("../resourses/cambiador moño azulbco.jpg");
  margin: 1rem;
  padding: 1rem; }

.nine {
  grid-column: 1;
  grid-row: 2 / 5;
  background-image: url("../resourses/peluches gatitos.jpg");
  margin: 1rem;
  padding: 1rem; }

.ten {
  grid-column: 3;
  grid-row: 3;
  background-image: url("../resourses/peluche caballito.jpg");
  margin: 1rem;
  padding: 1rem; }

.eleven {
  grid-column: 2;
  grid-row: 4;
  background-image: url("../resourses/borde cambiador carrusel.jpg");
  margin: 1rem;
  padding: 1rem; }

.twelve {
  grid-column: 3;
  grid-row: 4;
  background-image: url("../resourses/zfunicorniopeluche.jpg");
  margin: 1rem;
  padding: 1rem; }
