@charset "UTF-8";
.lista {
  display: flex; }
  .lista .icono__marca {
    display: flex;
    width: 100px;
    height: 100px;
    border-style: double;
    justify-content: center;
    align-items: center; }
  .lista .lista__menu {
    display: flex;
    width: 0px;
    height: 0px;
    padding: 6px;
    margin: 5px;
    font-family: 'Lobster', cursive;
    list-style: none;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1; }
    .lista .lista__menu a {
      color: #da2f8a;
      text-decoration: none; }
    .lista .lista__menu :hover {
      transform: scale(1.5, 1.5);
      transition: all 1s; }

/* media query de TABLET */
@media (min-width: 576px) and (max-width: 992px) {
  .lista {
    flex-direction: column;
    flex-basis: 100%; }
  .icono__marca {
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center; }
  .lista__menu {
    flex-direction: column;
    flex-basis: 100%;
    width: 100%; }
  /* responsive jugueteria html */
  .productos__grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    flex-basis: 100%;
    flex-direction: column; }
  /* responsive productos zf y comida rapida html */
  .cont__container {
    margin: 10px;
    padding: 80px;
    width: 95vw;
    height: 95vh;
    flex-basis: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr; }
  .pictures {
    margin: 10px;
    padding: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center; } }

/* media query cel */
/*  @media screen min-width: 320 px and max-width: 575 px; */
@media (min-width: 320px) and (max-width: 575px) {
  .lista {
    flex-direction: column;
    flex-basis: 100%; }
  .icono__marca {
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center; }
  .lista__menu {
    flex-direction: column;
    flex-basis: 100%;
    width: 100%; }
  /* responsive jugueteria html */
  .productos__grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    flex-basis: 100%;
    flex-direction: column; } }

/* responsive productos zf  */
.zf__container {
  margin: 10px;
  padding: 80px;
  width: 95vw;
  height: 95vh;
  flex-basis: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr; }

.pictures {
  margin: 10px;
  padding: 10px;
  justify-content: center;
  justify-items: center;
  align-items: center; }

/* extend */
.background-centrado, .un, .do, .tre, .cuatr, .cinc, .sei, .siet, .och, .nuev, .die, .onc, .doc, .one, .two, .three, .four, .five, .six, .seven, .eigth, .nine, .ten, .eleven, .twelve {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

footer {
  padding: 1em 0;
  margin-top: auto; }

.fut {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  color: #da2f8a; }

.redes {
  width: 25px; }

.pie-pagina {
  width: 100%;
  background-color: #110c0e;
  margin: 10px; }

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px; }

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.pie-pagina .grupo-1 .box figure img {
  width: 90px; }

.pie-pagina .grupo-1 .box h2 {
  color: #d48086;
  margin-bottom: 25px;
  font-size: 20px; }

.pie-pagina .grupo-1 .box p {
  color: #d9d4d4;
  margin-bottom: 10px; }

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #e4ece4;
  margin-right: 10px;
  background-color: #8cce93;
  text-align: center;
  border-radius: 50%; }

.pie-pagina .grupo-1 .red-social a:hover {
  color: #2c0beb; }

.pie-pagina .grupo-2 {
  background-color: #45304e;
  padding: 5px 10px;
  text-align: center;
  color: white; }

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; } }

/* color de letras */
/* titulos */
/* contenido */
/* items */
/* Estilo de fuentes */
* {
  margin: 0px;
  /*margen ext*/
  padding: 0px;
  /*margen interno*/ }

body {
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(#3e2e61, #b6e3c2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.9;
  padding-bottom: 3em; }

h1 {
  color: black;
  padding: 40px;
  font-family: "DynaPuff", cursive;
  text-align: center; }

h2 {
  color: black;
  font-family: "Audiowide", cursive; }

h3 {
  font-family: "DynaPuff", cursive; }

.cont__container {
  display: flex;
  justify-items: center;
  justify-content: space-evenly; }

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

/* aplicando anidacion a tarjeta descriptivas */
.card {
  display: flex;
  width: 250px;
  height: 80%;
  border: 1px solid darkgrey;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  box-shadow: 5px 5px 10px;
  border-radius: 10px; }
  .card__img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    border-radius: 10px; }
  .card__info {
    width: 90%;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 0; }

p {
  color: black;
  margin: 0px;
  font-family: 'DynaPuff', cursive;
  text-align: justify;
  padding: 10px; }

.parrafo__historia {
  font-family: 'DynaPuff', cursive;
  text-decoration-style: dashed; }

iframe {
  display: flex;
  width: 700px;
  height: 500px;
  border-color: black;
  justify-content: center;
  margin: 1rem;
  padding: 2rem; }

.pagprin {
  display: flex;
  color: black;
  text-decoration: none;
  justify-content: end; }

.productos__grid {
  display: grid;
  width: 95vw;
  height: 95vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  grid-template-areas: "uno     dos    tres" "cuatro  cinco  seis" "siete   ocho  nueve" "diez  once  doce";
  column-gap: 20px;
  row-gap: 10px; }

.productos__grid :hover {
  transform: scale(1.5, 1.5);
  transition: all 3s; }

/* utilizamos @extends para mbackgrounds repetitivos */
.un {
  grid-area: uno;
  background-image: url("../resourses/png.jug pop it.png");
  width: auto;
  height: auto;
  box-shadow: 5px 5px 10px;
  border-radius: 10px; }

.do {
  grid-area: dos;
  background-image: url("../resourses/png.jug peluches.png");
  box-shadow: 5px 5px 10px;
  border-radius: 10px; }

.tre {
  grid-area: tres;
  background-image: url("../resourses/png.jug muñecas.png");
  box-shadow: 5px 5px 10px;
  border-radius: 10px; }

.cuatr {
  grid-area: cuatro;
  background-image: url("../resourses/png.jug doctora.png");
  box-shadow: 5px 5px 10px;
  border-radius: 10px; }

.cinc {
  grid-area: cinco;
  background-image: url("../resourses/png.jug dino.png");
  box-shadow: 5px 5px 10px;
  border-radius: 10px; }

.sei {
  grid-area: seis;
  background-image: url("../resourses/png.jug de mesa.png");
  box-shadow: 5px 5px 10px;
  border-radius: 10px; }

.siet {
  grid-area: siete;
  background-image: url("../resourses/png.jug colorear.png");
  box-shadow: 5px 5px 10px;
  border-radius: 10px; }

.och {
  grid-area: ocho;
  background-image: url("../resourses/png.jug autos.png");
  box-shadow: 5px 5px 10px;
  border-radius: 10px; }

.nuev {
  grid-area: nueve;
  background-image: url("../resourses/png.jug armas.png");
  box-shadow: 5px 5px 10px;
  border-radius: 10px; }

.die {
  grid-area: diez;
  background-image: url("../resourses/juguetes.jpg");
  box-shadow: 5px 5px 10px;
  border-radius: 10px; }

.onc {
  grid-area: once;
  background-image: url("../resourses/png.jug patin.png");
  box-shadow: 5px 5px 10px;
  border-radius: 10px; }

.doc {
  grid-area: doce;
  background-image: url("../resourses/png.jug pelotaypaleta.png");
  box-shadow: 5px 5px 10px;
  border-radius: 10px; }

.img__flex {
  display: flex;
  flex-direction: column; }

/* galeria blanqueria -productos zf-grid /aplicacion de @extend*/
.galeria_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(200px, auto); }

.one {
  grid-column: 1 / 2;
  grid-row: 1;
  background-image: url("../resourses/acolchadovintage - copia.jpg");
  margin: 1rem;
  padding: 1rem;
  border: solid #121239;
  box-shadow: 5px 5px 10px;
  border-radius: 10px; }

.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-image: url("../resourses/almohada negra y celeste - copia.jpg");
  margin: 1rem;
  padding: 1rem;
  border: solid #131316;
  box-shadow: 5px 5px 10px;
  border-radius: 10px; }

.three {
  grid-column: 1;
  grid-row: 2 / 5;
  background-image: url("../resourses/png.peluches gatitos.png");
  margin: 1rem;
  padding: 1rem;
  border: solid #131316;
  box-shadow: 5px 5px 10px;
  border-radius: 20px; }

.four {
  grid-column: 3;
  grid-row: 3 / 3;
  background-image: url("../resourses/almohada roja milena - copia.jpg");
  margin: 1rem;
  padding: 1rem;
  border: solid #131316;
  box-shadow: 5px 5px 10px;
  border-radius: 20px; }

.five {
  grid-column: 2;
  grid-row: 3 / 5;
  background-image: url("../resourses/ajuar cambiador verde peluchito.jpg");
  margin: 1rem;
  padding: 1rem;
  border: solid #131316;
  box-shadow: 5px 5px 10px;
  border-radius: 20px; }

.six {
  grid-column: 3;
  grid-row: 4;
  background-image: url("../resourses/almoh magali.jpg");
  margin: 1rem;
  padding: 1rem;
  border: solid #131316;
  box-shadow: 5px 5px 10px;
  border-radius: 10px; }

.seven {
  grid-column: 1 / 2;
  grid-row: 1;
  background-image: url("../resourses/cambiador accesorios.jpg");
  margin: 1rem;
  padding: 1rem;
  border: solid #131316;
  box-shadow: 5px 5px 10px;
  border-radius: 10px; }

.eigth {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-image: url("../resourses/cambiador moño azulbco.jpg");
  margin: 1rem;
  padding: 1rem;
  border: solid #131316;
  box-shadow: 5px 5px 10px;
  border-radius: 10px; }

.nine {
  grid-column: 1;
  grid-row: 2 / 5;
  background-image: url("../resourses/peluches gatitos.jpg");
  margin: 1rem;
  padding: 1rem;
  border: solid #131316;
  box-shadow: 5px 5px 10px;
  border-radius: 10px; }

.ten {
  grid-column: 3;
  grid-row: 3;
  background-image: url("../resourses/peluche caballito.jpg");
  margin: 1rem;
  padding: 1rem;
  border: solid #131316;
  box-shadow: 5px 5px 10px;
  border-radius: 10px; }

.eleven {
  grid-column: 2;
  grid-row: 3/ 5;
  background-image: url("../resourses/borde cambiador carrusel.jpg");
  margin: 1rem;
  padding: 1rem;
  border: solid #131316;
  box-shadow: 5px 5px 10px;
  border-radius: 10px; }

.twelve {
  grid-column: 3;
  grid-row: 4;
  background-image: url("../resourses/zfunicorniopeluche.jpg");
  margin: 1rem;
  padding: 1rem;
  border: solid #131316;
  box-shadow: 5px 5px 10px;
  border-radius: 10px; }

/* galeria rotiseria grid  */
.fastgrid__img {
  width: 100px; }

.fastgrid {
  display: grid;
  width: 97vw;
  height: 97vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "roti1 roti10 roti6" "roti1 roti4 roti2 " "roti3 roti4 roti5"; }

.roti1 {
  grid-area: roti1;
  background-image: url("../resourses/png.chedarrayado - copia.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  padding: 5px; }

.roti2 {
  grid-area: roti10;
  background-image: url("../resourses/pizafullqueso.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  padding: 5px; }

.roti3 {
  grid-area: roti2;
  background-image: url("../resourses/png.pizza con pelotitas de cheddar.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  padding: 5px; }

.roti4 {
  grid-area: roti3;
  background-image: url("../resourses/png.piza morron.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  padding: 5px; }

.roti5 {
  display: flex;
  color: white;
  font-size: 100px;
  justify-content: center;
  align-items: center;
  grid-area: roti4;
  background-image: url("../resourses/png.chedar.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  padding: 5px; }

.roti6 {
  grid-area: roti5;
  background-image: url("../resourses/png.papas chedar casera.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  padding: 5px; }

.roti7 {
  grid-area: roti6;
  background-image: url("../resourses/png.milanesa con papa big.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  padding: 5px; }
