@import "header";
@import "mediaqueries";

*{
    margin: 0px;/*margen ext*/
    padding:0px;/*margen interno*/
}
body{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    background: linear-gradient(black,blue);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.9;
    padding-bottom: 3em;
}
footer{
    
    padding: 1em 0;
    margin-top: auto;

}


.redes {
    width: 25px;
}




.cont__container{
    display: grid;
    width: 80vw;
    height: 80vh;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    
}
.pictures{
    width: 200px;
    height: 200px;
}




.picture {
    padding: 15px;
    width: 100%;
    height: 100%;
}

h1 {
    color: rgb(224, 68, 227);
    padding: 40px;
    font-family: 'Audiowide', cursive; 
    text-align: center;
}

.h1__animation {
    background-image: linear-gradient(white blue red);

}

h2 {
    color: rgb(15, 234, 238);
    font-family: 'Sigmar One', cursive;
}
h3{
    color: rgb(15, 234, 238);
}


.i{
        margin: 20px;
        list-style:circle;
        font-family: 'Audiowide', cursive;
    }
.cont__container{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;

}   

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    
    width: 250px;
    height: 80%;
    border: 1px solid darkgrey;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    
            & .card__img{
                width: 100%;
                height: 100%;
                margin-bottom: 20px;
            }
            & .card__info{
            
                width: 90%;
                text-align: center;
                line-height: 1.5;
                margin-bottom: 20px;
            }
            

}


.parrafo__historia{
    font-family: 'Audiowide', cursive;
    text-decoration-style:dashed;
}

iframe {
    display: flex;
    width: 300px;
    height: 300px;
    border-color: rgb(48, 147, 223);
    justify-content:space-between;
}

.pagprin{
    color: rgb(15, 234, 238);
    text-decoration: none;
}

.fut{
    display:inline-block;
    margin: 20px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    color: rgb(218, 47, 138);

}
.productos__grid{
    display: grid;
    width: 95vw;
    height: 95vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:    1fr 1fr 1fr 1fr   ;
    grid-template-areas:"uno     dos    tres"
                        "cuatro  cinco  seis"
                        "siete   ocho  nueve"
                        "diez  once  doce" ;
                        column-gap: 20px;
                        row-gap: 10px;
                    
}
.productos__grid :hover{
    transform: scale( 1.5 ,  1.5 );
    transition: all 1s;
}

.un{
    grid-area:  uno;
    background-image: url("../resourses/jug\ armas.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
}

.do{
    grid-area:  dos;
    background-image: url("../resourses/jug\ autos.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tre{
    grid-area:  tres ;
    background-image: url("../resourses/jug\ cocinagde.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cuatr {
    grid-area: cuatro;
    background-image: url("../resourses/jug\ colorear.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cinc{
    grid-area: cinco;
    background-image: url("../resourses/jug\ de\ mesa.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.sei{
    grid-area:  seis;
    background-image: url("../resourses/jug\ dino.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.siet{
    grid-area:  siete;
    background-image: url("../resourses/jug\ doctora.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.och{grid-area:  ocho;
    background-image: url("../resourses/jug\ pop\ it.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;                      
}
.nuev{grid-area:  nueve;
    background-image: url("../resourses/jug\ maletin\ juliana.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}                                  
.die{grid-area:  diez;
    background-image: url("../resourses/jug\ militar.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}                                 
.onc{grid-area:  once;
    background-image: url("../resourses/jug\ muñecas.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.doc{grid-area:  doce;
    background-image: url("../resourses/jug\ naipes.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* galeria productos z-f */

.productos__zeta{
    display: grid;
    width: 95vw;
    height: 95vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:    1fr 1fr 1fr 1fr   ;
    grid-template-areas:"uno    dos   tres"
                        "cuatro  cinco  seis"
                        "siete   ocho  nueve"
                        "diez  once  doce" ;
                        column-gap: 20px;
                        row-gap: 10px;
                    
                    
}
.productos__zeta :hover{
    transform: scale( 1.5 ,  1.5 );
    transition: all 1s;
}

.uno{
    grid-area:  uno;
    background-image: url("../resourses/almohada\ negra\ y\ celeste.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
}

.dos{
    grid-area:  dos;
    background-image: url("../resourses/cambiador\ moño\ azulbco.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tres{
    grid-area:  tres;
    background-image: url("../resourses/ajuar\ verde\ forro\ bco.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cuatro {
    grid-area: cuatro;
    background-image: url("../resourses/almohada\ mateo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cinco{
    grid-area: cinco;
    background-image: url("../resourses/borde\ cambiador\ carrusel.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.seis{
    grid-area:  seis;
    background-image: url("../resourses/zfunicorniopeluche.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.siete{
    grid-area:  siete;
    background-image: url("../resourses/peluches\ gatitos.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ocho{grid-area:  ocho;
    background-image: url("../resourses/peluche\ mia\ luna\ nube.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;                      
}
.nueve{grid-area:  nueve;
    background-image: url("../resourses/peluche\ corazon.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}                                  
.diez{grid-area:  diez;
    background-image: url("../resourses/zf3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}                                 
.once{grid-area:  once;
    background-image: url("../resourses/almohada\ roja\ milena.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.doce{grid-area:  doce;
    background-image: url("../resourses/peluche\ caballito.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* grid index  */

.img__grid {
    display: grid;
    grid-column: center;
    width: 90vw;
    height: 90vh;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    
    column-gap: 15px;
    row-gap: 10px;
}
.imagen__1 {
    width: 400px;
    height: 300px;
    grid-area: 1/1;
}
.imagen__2 {
    width: 400px;
    height: 300px;
    grid-area: 1/2;
}
.imagen__3 {
    width: 400px;
    height: 300px;
    grid-area: 2/1;
}
.imagen__4 {
    width: 400px;
    height:300px;
    grid-area: 2/2;
}





