        /* media query de TABLET */

        @media  (min-width: 576px)  and (max-width: 992px) {
            .lista{
                
                flex-direction: column;
                flex-basis:  100%;
                
            }
            
            .icono__marca{
                flex-direction: column;
                flex-basis:  100%;
                justify-content: center;
                justify-items: center;
                align-items: center;
                
                }
            
            .lista__menu{
                flex-direction: column;
                flex-basis: 100%;
                width: 100%;
                }
        
            /* responsive jugueteria html */
            .productos__grid{
                display: grid;
                width: 100vw;
                height: 100vh;
                grid-template-columns: 1fr ;
                flex-basis: 100%;
                flex-direction: column;
            }
        
            
        
            /* responsive productos zf y comida rapida html */
        
            .cont__container{
                margin: 10px;
                padding: 80px;
                width: 95vw;
                height: 95vh;
                flex-basis: 100%;
                justify-content: center;
                justify-items: center;
                align-items: center;
                grid-template-columns:1fr;
                
                
            }
            .pictures{
                
                margin: 10px;
                padding: 10px;
                justify-content: center;
                justify-items: center;
                align-items: center;
            }
                
        }
        
        
        
        /* media query cel */
        /*  @media screen min-width: 320 px and max-width: 575 px; */
        
        @media  (min-width: 320px)  and (max-width: 575px) {
            .lista{
                
                flex-direction: column;
                flex-basis:  100%;
                
            }
            
            .icono__marca{
                flex-direction: column;
                flex-basis:  100%;
                justify-content: center;
                justify-items: center;
                align-items: center;
                
                }
            
            .lista__menu{
                flex-direction: column;
                flex-basis: 100%;
                width: 100%;
                }
        
                 /* responsive jugueteria html */
            .productos__grid{
                display: grid;
                width: 100vw;
                height: 100vh;
                grid-template-columns: 1fr ;
                flex-basis: 100%;
                flex-direction: column;
            }
        }
        
         /* responsive productos zf y comida rapida html */
        
        .zf__container{
            margin: 10px;
            padding: 80px;
            width: 95vw;
            height: 95vh;
            flex-basis: 100%;
            justify-content: center;
            justify-items: center;
            align-items: center;
            grid-template-columns:1fr;
            
            
        }
        .pictures{
            
            margin: 10px;
            padding: 10px;
            justify-content: center;
            justify-items: center;
            align-items: center;
        }
