/* extend */
.background-centrado {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-centrado-roti{
    background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin: 5px;
                padding: 5px;
                box-shadow: 5px 5px 10px;
                border-radius: 10px;
}