/* color de letras */
$colorh1: black;/* titulos */
$colorh2:black;/* contenido */
$colorh3: black;/* items */


 
/* Estilo de fuentes */
$font-titulos: 'Alumni Sans Collegiate One', sans-serif;
$font-secundario: 'DynaPuff', cursive;


