/* color de letras */
$colorh1: black;/* titulos */
$colorh2:black;/* contenido */
$colorh3: black;/* items */


 
/* Estilo de fuentes */
$font-titulos:'Audiowide', cursive;
$font-secundario: 'Lobster', cursive;

