/* color de letras */
$colorh1: black;/* titulos */
$colorh2:black;/* contenido */
$colorh3: black;/* items */


 
/* Estilo de fuentes */
$font-titulos:'Rubik Distressed', cursive;
$font-secundario: 'DynaPuff', cursive;


